/* You can add global styles to this file, and also import other style files */

*,
html,
body {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

[data-stuck] {
  position: sticky;
  top: 0;
  transition: transform 0.3s;
}

[data-stuck='false'] {
  transform: translate3d(0, -100%, 0);
  transition: transform 0.3s 0.5s;
}

.warning {
  font-size: 15px;
  font-weight: 300;
  text-align: center;

  > span {
    color: #04049d;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border: 1px solid #04049d;
      border-radius: 5px;
    }
  }
}
